<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Детальний звіт</title>
  <script src="https://www.google.com/jsapi"></script>
  <script>
   google.load("visualization", "1", {packages:["corechart"]});
   google.setOnLoadCallback(drawChart);
   function drawChart() {
    var data = google.visualization.arrayToDataTable([
     ['Причини не відвідування', 'Відсоток'],
     ['Без причини',     78.09],
     ['Хворіє', 20.95],
     ['Інше',    0.93],
     ['Невідомо', 0.03]
    ]);
    var options = {
     title: 'Інтерпритація данних відвідування !ТЕСТ ДАНИХ!',
     is3D: true,
     pieResidueSliceLabel: 'Не визначено'
    };
    var chart = new google.visualization.PieChart(document.getElementById('air'));
     chart.draw(data, options);
   }
  </script>
 </head>
 <body>
  <div id="air" style="width: 500px; height: 400px;"></div>
 </body>
</html>